@model Proyector 
@{
    ViewData["Title"] = "Nuevo Proyector";
}

<div class="container"> 
    <h1 class="display-5 mb-4">Nuevo Proyector</h1>
    <div class="row">

        <form>
            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="Id"> Numero de Proyector: </label>
                <input type="number" class="form-control"  asp-for="Id" id="Id"/>

            </div>


            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="Marca"> Marca de proyector: </label>
                <input type="text" class="form-control" asp-for="Marca" id="Marca"/>

            </div>

            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="Modelo"> Modelo: </label>
                <input type="text" class="form-control" asp-for="Modelo" id="Modelo"/>

            </div>


            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="NumeroDeSerie"> Numero de serie: </label>
                <input type="text" class="form-control" asp-for="NumeroDeSerie" id="NumeroDeSerie"/>

            </div>


            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="FechDeAlta"> Fecha de alta: </label>
                <input type="date" class="form-control" asp-for="FechDeAlta" id="FechaDeAlta"/>

            </div>



            <div class="form-group mb-3">
                
                <label class="form-label" asp-for="Situacion"> Situacion del Proyector: </label>
                <select class="form-select" asp-for="Situacion" id="Situacion">

                    <option value="1">Bueno </option>
                    <option value="2">Regular </option>
                    <option value="3">Malo </option>
                
                </select>

            </div>

            <div class="form-group mb-3">
                
                <button type="submit" class="btn btn-primary"> Guardar </button>
                <button type="button" class="btn btn-secondary"> Cancelar </button>
        

            </div>

           
        </form>


    </div>

</div>