@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Esta sera la pagina principal de la aplicacion</p>
    <p>Autor:Juan Manuel Acencio Chan</p>
</div>
